In [4]:
#making a dictionary

import pandas
users = {
    'id':[1,2,3,4],
    'name':["alex","boss","chen","bag"],
    'age':[3.5,4,10,12]
}
print(users)
users_df = pandas.DataFrame(users)
print(users_df)

#to save this data in csv file
users_df.to_csv('df_1.csv',index=False, sep="|")

{'id': [1, 2, 3, 4], 'name': ['alex', 'boss', 'chen', 'bag'], 'age': [3.5, 4, 10, 12]}
   id  name   age
0   1  alex   3.5
1   2  boss   4.0
2   3  chen  10.0
3   4   bag  12.0

In [12]:
import pandas
users = {
    'id':[1,2,3,4],
    "name":["alex", "boss", "chen", "bag"],
    'age':[4,6,10,12]
}
#converting to xml
users_df.to_xml('output_users.xml',index=False)

In [14]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)

In [5]:
import pandas
users = {
    'id':[6,7,8],
    "name":["Ali","Usman","Anas"],
    'Age':[11,10,12]
}
print(users)
users_df = pandas.DataFrame(users)
print(users_df)

#converting to xml
users_df.to_xml('output.xml',index=False)

{'id': [6, 7, 8], 'name': ['Ali', 'Usman', 'Anas'], 'Age': [11, 10, 12]}
   id   name  Age
0   6    Ali   11
1   7  Usman   10
2   8   Anas   12

In [17]:
import pandas
users = {
    'id':[6,7,8,7],
    "name":["Ali","Usman","Anas","alex"],
    'Age':[9,11,10,12]
}
print(users)
users_df = pandas.DataFrame(users)
print(users_df)

#converting to json
users_df.to_json('df',index=False)

{'id': [6, 7, 8, 7], 'name': ['Ali', 'Usman', 'Anas', 'alex'], 'Age': [9, 11, 10, 12]}
   id   name  Age
0   6    Ali    9
1   7  Usman   11
2   8   Anas   10
3   7   alex   12

In [18]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
data_df = pd.DataFrame(data)
print(data_df)
data_df.to_csv("df", index=False, sep= ";")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [19]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
data_df = pd.DataFrame(data)
print(data_df)
data_df.to_xml("cf", index=False)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [20]:
import pandas as pd
data = {
    'Name':['Ali','Usman','Asif','Saad'],
    'Age':[23,26,30,34],
    'City':['New York','Pakistan','Turkey','Chicago']

}
data_df = pd.DataFrame(data)
print(data_df)
data_df.to_json("pd.csv",index=False)

    Name  Age      City
0    Ali   23  New York
1  Usman   26  Pakistan
2   Asif   30    Turkey
3   Saad   34   Chicago